:root {
  --dark-navy: #0a192f;
  --navy: #112240;
  --light-navy: #1d2d44;
  --slate: #8892b0;
  --light-slate: #ccd6f6;
  --cyan: #64ffda;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--dark-navy);
  color: var(--light-slate);
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
}